@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic font family definitions */
body {
  font-family: var(--font-inter, Arial, Helvetica, sans-serif);
}

/* Dark mode selection styles */
.chakra-ui-dark ::selection {
  background-color: rgba(77, 193, 255, 0.4);
}

.chakra-ui-light ::selection {
  background-color: rgba(0, 120, 212, 0.2);
}
